.main-page-wrap-middle {
  display: flex;
  justify-content: center;
}

.main-page-wrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  width: 100vh;
}

.trending-today-area {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

.trending-today-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 10px;
}

.trending-content {
  background-color: blue;
  color: cornsilk;
  border-radius: 10px;
  height: 150px;
}

.trending-today-title,
.popular-posts-title {
  text-align: left;
}

.popular-posts-area {
  display: flex;
  flex-direction: column;
}

.popular-posts-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 0;
}

.popular-main1 {
  height: 5vh;
}

.popular-main2 {
  height: 60vh;
}

.popular-main3 {
  height: 70vh;
}

.popular-main {
  background-color: blue;
  color: cornsilk;
  border-radius: 5px;
  width: 550px;
  margin-bottom: 10px;
  margin-right: 5px;
}

.popular-side {
  background-color: blue;
  color: cornsilk;
  border-radius: 5px;
  margin-bottom: 15px;
  margin-left: 5px;
}

.popular-side1 {
  height: 45vh;
}

.popular-side2 {
  height: 10vh;
}

.popular-side3 {
  height: 40vh;
}

.popular-side4 {
  height: 30vh;
}
