.main-page-wrap-middle {
  display: flex;
  justify-content: center;
}

.main-page-wrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  width: 110vh;
}

.trending-today-area {
  display: flex;
  flex-direction: column;
  padding: 15px 0;
}

.trending-today-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 10px;
}

.trending-content {
  background-color: blue;
  color: cornsilk;
  border-radius: 8px;
  height: 175px;
}

.trending-today-title,
.popular-posts-title {
  text-align: left;
  margin-bottom: 8px;
  font-size: 13px;
}

.trending-content1 {
  background-image: url("./image1.jpeg");
  background-size: cover;
  position: relative;
}

.trending-content2 {
  background-image: url("./image2.jpeg");
  background-size: cover;
}

.trending-content3 {
  background-image: url("./image3.jpeg");
  background-size: cover;
}

.trending-content4 {
  background-image: url("./image4.jpeg");
  background-size: cover;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: flex-end;
  border-radius: 7px;
  text-align: left;
  color: #ffff;
  line-height: 0.8;
}

.overlay-title {
  padding-left: 7px;
  font-size: 16px;
  line-height: 1.3;
}

.overlay-paragraph-wrapper {
  line-height: 0.7;
}

.overlay-paragraph1,
.overlay-paragraph2 {
  padding-left: 7px;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0.3px;
}

.overlay-paragraph2 {
  padding-bottom: 7px;
}

.overlay-foot {
  display: flex;
  font-size: 7px;
  padding-left: 7px;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
}
.handshake-icon,
.hbomax-icon,
.politics-icon {
  width: 15px;
  border-radius: 50%;
  align-self: center;
  margin-right: 4px;
}

.overlay-foot-text {
  font-size: 12px;
}

.popular-posts-area {
  display: flex;
  flex-direction: column;
}

.popular-posts-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 0;
}

.popular-main1 {
  height: 8vh;
}

.popular-main2 {
  height: 60vh;
}

.popular-main3 {
  height: 65vh;
}

.popular-main {
  background-color: blue;
  color: cornsilk;
  border-radius: 5px;
  width: 74vh;
  margin-bottom: 10px;
  margin-right: 11px;
}

.popular-side {
  background-color: blue;
  color: cornsilk;
  border-radius: 5px;
  margin-bottom: 11px;
  margin-left: 9px;
}

.popular-side1,
.popular-side2,
.popular-side3,
.popular-side4 {
  height: auto;
  background-color: #ffff;
}

/* Main Area */

.middle-section2 {
  height: 100%;
  background-image: url("./china-mall.jpeg");
  background-size: cover;
}

.middle-section3 {
  height: 100%;
  background-image: url("./tundra.jpeg");
  background-size: cover;
}

/* Side1 */

.popular-side1 {
  display: flex;
  flex-direction: column;
}

.side1-header {
  height: 100px;
  background-image: url("./bay_area.jpeg");
  background-size: cover;
}

.side1-header-description {
  padding-left: 20px;
}

.overlay-side {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.side1-main {
  height: auto;
}

.side1-main-row,
.side2-main-row,
.side3-main-row {
  color: #1d2327;
  border-bottom: 2px solid #dae0e6;
  height: 50px;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
}

.number {
  padding-left: 20px;
  padding-right: 20px;
}

.main-row-left {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sfba-icon,
.sf-icon,
.r-icon,
.alameda-icon {
  width: 30px;
  border-radius: 50%;
  margin-right: 8px;
}

.side1-btn {
  display: flex;
  justify-content: center;
}

.btn-view-all {
  width: 90%;
  border: none;
  padding: 10px 0px;
  border-radius: 20px;
  font-weight: 900;
  letter-spacing: 0.5px;
  font-size: 14px;
  background-color: #0179d2;
  color: #ffff;
  margin-top: 10px;
}

.btn-join {
  border: none;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #0179d2;
  color: #ffff;
}

.side1-footer {
  display: flex;
  margin-left: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn-side1-foot {
  margin-right: 10px;
  background-color: #eef3f7;
  border: none;
  padding: 6px 9px;
  border-radius: 15px;
  color: #0179d2;
  font-weight: 900;
}

/* Side2 */

.popular-side2 {
  display: flex;
  flex-direction: column;
  background-color: #ffff;
}

.reddit-premium-paragraph {
  display: flex;
  color: #666969;
  align-items: center;
  line-height: 1.4;
}

.reddit-premium-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  margin-left: 10px;
}

.premium-title {
  font-weight: bold;
  color: #0c0f11;
}

.reddit-premium-text {
  font-size: 12px;
  text-align: left;
}

.reddit-premium-text h4 {
  font-weight: bold;
}

.btn-try-now {
  width: 90%;
  align-self: center;
  background-color: #ff4500;
  color: #ffff;
  border: none;
  padding: 8px 0px;
  border-radius: 20px;
  font-weight: 900;
  font-size: 14px;
  margin-bottom: 10px;
}

/* Side3 */
.popular-side3 {
  text-align: left;
  font-size: 10px;
  padding-top: 10px;
  color: black;
}

.side3-header {
  padding-left: 10px;
}

.side3-header-title {
  font-size: 9px;
  letter-spacing: 0.2px;
  font-weight: 900;
}

.side3-header-content p {
  word-spacing: 17px;
  line-height: 22px;
}

.side3-main {
  border-top: 1px solid #dae0e6;
}

.side3-main-row {
  text-transform: uppercase;
  border-bottom: 1px solid #dae0e6;
  height: 40px;
  letter-spacing: 0.5px;
  font-size: 8px;
  padding-left: 10px;
}

.side3-header-see-more {
  color: #046cbb;
  font-size: 12px;
  font-weight: 900;
  font-weight: bolder;
  padding-bottom: 7px;
}

/* Side4 */

.popular-side4 {
  display: flex;
  flex-direction: column;
  background-color: #ffff;
  color: #1a1b1b;
  font-size: 10px;
  text-align: left;
  padding: 10px;
}

.side4-main {
  display: flex;
  line-height: 2;
}

.side4-main li {
  list-style: none;
}

.side4-col {
  /* width: 50%; */
  margin-left: 0px;
}

.side4-help {
  width: 50%;
}

.side4-footer {
  width: 100%;
  margin-top: 20px;
}
