.main-page-wrap-middle {
  display: flex;
  justify-content: center;
}

.main-page-wrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  width: 110vh;
}

.trending-today-area {
  display: flex;
  flex-direction: column;
  padding: 15px 0;
}

.trending-today-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 10px;
}

.trending-content {
  /* background-color: blue; */
  color: cornsilk;
  border-radius: 8px;
  height: 175px;
}

.trending-today-title,
.popular-posts-title {
  text-align: left;
  margin-bottom: 8px;
  font-size: 13px;
}

.trending-content1 {
  /* background-image: url("../../../public/images/image1.jpeg"); */
  background-image: url("../public/images/image1.jpeg");
  background-size: cover;
  position: relative;
}

.trending-content2 {
  background-image: url("../public/images/image2.jpeg");
  background-size: cover;
}

.trending-content3 {
  background-image: url("../public/images/image3.jpeg");
  background-size: cover;
}

.trending-content3 img.handshake-icon {
  opacity: 0;
}

.trending-content3 .overlay-wrapper {
  /* background-color: #046cbb; */
  /* line-height: 0.9; */
}

.trending-content4 {
  background-image: url("../public/images/image4.jpeg");
  background-size: cover;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: flex-end;
  border-radius: 7px;
  text-align: left;
  color: #ffff;
  line-height: 0.8;
}

.overlay-title {
  padding-left: 7px;
  font-size: 16px;
  line-height: 1.3;
}

.overlay-paragraph-wrapper {
  line-height: 0.7;
}

.overlay-paragraph1,
.overlay-paragraph2 {
  padding-left: 7px;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.3px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.overlay-paragraph2 {
  padding-bottom: 7px;
}

.overlay-foot {
  display: flex;
  padding-left: 7px;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.handshake-icon,
.hbomax-icon,
.politics-icon {
  width: 15px;
  border-radius: 50%;
  align-self: center;
  margin-right: 4px;
}

.overlay-foot-text {
  font-size: 12px;
}

.popular-posts-area {
  display: flex;
  flex-direction: column;
}

.popular-posts-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 0;
}

.popular-main1 {
  height: 6vh;
}

.popular-main2 {
  height: 60vh;
}

.popular-main3 {
  height: 65vh;
}

.popular-main {
  background-color: #ffff;
  color: cornsilk;
  border-radius: 5px;
  width: 74vh;
  margin-bottom: 10px;
  margin-right: 11px;
}

.interasf-icon,
.something-icon {
  width: 25px;
  border-radius: 50%;
  align-self: center;
  margin-right: 4px;
}

.popular-side {
  color: cornsilk;
  border-radius: 5px;
  margin-bottom: 11px;
  margin-left: 9px;
}

.popular-side1,
.popular-side2,
.popular-side3,
.popular-side4 {
  height: auto;
  background-color: #ffff;
}

.popular-main1 {
  /* margin-bottom: 10px; */
  margin-right: 10px;
  border-radius: 8px;
}

.popular-main1-wrap {
  display: flex;
  justify-content: space-between;
  color: #666969;
  padding: 10px;
  background-color: #ffff;
  justify-self: center;
  border-radius: 3px;
}

.popular-main1-left {
  display: flex;
}

.btn-hot {
  display: flex;
  background-color: #f6f8fa;
  border: none;
  border-radius: 40px;
  padding: 3px 8px;
  width: 60px;
  color: #187cd3;
  font-size: 11px;
  font-weight: 900;
  letter-spacing: 0.2px;
  align-items: center;
}

.hot-icon {
  width: 20px;
  border-radius: 50%;
  align-self: center;
  margin-right: 4px;
  align-self: center;
}

.btn-everywhere {
  background-color: #f6f8fa;
  border: none;
  border-radius: 40px;
  padding: 5px 7px;
  width: 80px;
  color: #187cd3;
  font-size: 10px;
  font-weight: 900;
  letter-spacing: 0.2px;
}

.btn-new,
.btn-top {
  background-color: #ffff;
  border: none;
  color: #959898;
  letter-spacing: 0.2px;
}

.drop_down_arrow {
  box-sizing: border-box;
  height: 5px;
  width: 5px;
  border-style: solid;
  border-color: #959898;
  border-width: 0px 1px 1px 0px;
  transform: rotate(45deg);
  transition: border-width 150ms ease-in-out;
}

.main1-left-element {
  margin-right: 10px;
  font-size: 10px;
  font-weight: 900;
}

.popular-main1-right {
  display: flex;
}

.popular-main2,
.popular-main3 {
  display: flex;
}

.popular-main2 .left-section {
  color: #070707;
  font-size: 10px;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bold;
  border-radius: 3px;
}

.sun-icon {
  width: 25px;
  border-radius: 50%;
  align-self: center;
  margin-right: 4px;
  padding-right: 0px;
  margin-right: 0px;
}

.box-icon {
  width: 40px;
}
.popular-main2 .top-section p {
  color: #070707;
  text-align: left;
  padding-left: 10px;
  font-size: 12px;
}

.top-section .top-section-top {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: #070707;
  font-size: 10px;
  font-weight: bold;
}

.top-section-top-sub {
  display: flex;
  height: 2vh;
}

.top-section-top-sub .par2 {
  color: #959898;
}
.el {
  padding-right: 5px;
}

.btn-r-all {
  background-color: #eaebec;
  border: none;
  border-radius: 40px;
  padding: 3px 5px;
  width: 40px;
  color: #555454;
  font-size: 9px;
  letter-spacing: 0.2px;
  align-self: center;
}

.top-section .top-section-bottom {
  color: #070707;
  font-size: 13px;
  font-weight: bold;
  text-align: left;
  padding-left: 10px;
  padding-bottom: 5px;
  padding-top: 0px;
}

.left-section {
  background-color: #f6f8fa;
  padding-top: 10px;
}

.arrow-up-icon,
.arrow-down-icon {
  width: 25px;
}

.arrow-down-icon {
  padding-top: 5px;
}

.right-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.popular-main3 .left-section {
  padding: 10px;
  color: #070707;
  font-size: 10px;
  font-weight: bold;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 3px;
}

.toyota-icon {
  width: 20px;
  border-radius: 50%;
  align-self: center;
  margin-right: 4px;
}

.middle-section2 {
  height: 100%;
  background-image: url("./china-mall.jpeg");
  background-size: cover;
}

.middle-section3 {
  height: 100%;
  background-image: url("./tundra.jpeg");
  background-size: cover;
  margin-left: 35px;
}

.bottom-section {
  display: flex;
}

.bottom-section {
  display: flex;
  color: #555454;
  font-weight: 900;
  padding: 10px;
  letter-spacing: 0.2px;
}

.bottom-bottom-section1,
.bottom-bottom-section2,
.bottom-bottom-section3,
.bottom-bottom-section4 {
  display: flex;
  margin-right: 20px;
  font-size: 11px;
}

.chat-area-icon,
.turning-arrow-icon,
.flag-icon {
  width: 20px;
  align-self: center;
  margin-right: 4px;
}

.pre-bottom-section {
  background-color: #f6f8fa;
  color: #2e2828;
  text-align: left;
  padding: 10px;
  font-size: 13px;
  font-weight: 900;
}

.toyota {
  color: #59a0df;
  line-height: 20px;
  font-size: 11px;
}

/* Side1 */

.popular-side1,
.bottom-section2 {
  display: flex;
  flex-direction: column;
}

.side1-header {
  height: 100px;
  background-image: url("./bay_area.jpeg");
  background-size: cover;
  border-radius: 6px;
}

.side1-header-description {
  padding-left: 20px;
}

.overlay-side {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.side1-main {
  height: auto;
}

.side1-main-row,
.side2-main-row,
.side3-main-row {
  color: #1d2327;
  border-bottom: 2px solid #dae0e6;
  height: 50px;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
}

.number {
  padding-left: 20px;
  padding-right: 20px;
}

.main-row-left {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sfba-icon,
.sf-icon,
.r-icon,
.alameda-icon {
  width: 30px;
  border-radius: 50%;
  margin-right: 8px;
}

.side1-btn {
  display: flex;
  justify-content: center;
}

.btn-view-all {
  width: 90%;
  border: none;
  padding: 10px 0px;
  border-radius: 20px;
  font-weight: 900;
  letter-spacing: 0.5px;
  font-size: 14px;
  background-color: #0179d2;
  color: #ffff;
  margin-top: 10px;
}

.btn-join {
  border: none;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #0179d2;
  color: #ffff;
}

.side1-footer {
  display: flex;
  margin-left: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn-side1-foot {
  margin-right: 10px;
  background-color: #eef3f7;
  border: none;
  padding: 6px 9px;
  border-radius: 15px;
  color: #0179d2;
  font-weight: 900;
}

/* Side2 */

.popular-side2 {
  display: flex;
  flex-direction: column;
  background-color: #ffff;
}

.reddit-premium-paragraph {
  display: flex;
  color: #666969;
  align-items: center;
  line-height: 1.4;
}

.reddit-premium-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  margin-left: 10px;
}

.premium-title {
  font-weight: bold;
  color: #0c0f11;
}

.reddit-premium-text {
  font-size: 12px;
  text-align: left;
}

.reddit-premium-text h4 {
  font-weight: bold;
}

.btn-try-now {
  width: 90%;
  align-self: center;
  background-color: #ff4500;
  color: #ffff;
  border: none;
  padding: 8px 0px;
  border-radius: 20px;
  font-weight: 900;
  font-size: 14px;
  margin-bottom: 10px;
}

/* Side3 */
.popular-side3 {
  text-align: left;
  font-size: 10px;
  padding-top: 10px;
  color: black;
}

.side3-header {
  padding-left: 10px;
}

.side3-header-title {
  font-size: 9px;
  letter-spacing: 0.2px;
  font-weight: 900;
}

.side3-header-content p {
  word-spacing: 17px;
  line-height: 22px;
}

.side3-main {
  border-top: 1px solid #dae0e6;
}

.side3-main-row {
  text-transform: uppercase;
  border-bottom: 1px solid #dae0e6;
  height: 40px;
  letter-spacing: 0.5px;
  font-size: 8px;
  padding-left: 10px;
}

.side3-header-see-more {
  color: #046cbb;
  font-size: 12px;
  font-weight: 900;
  font-weight: bolder;
  padding-bottom: 7px;
}

/* Side4 */

.popular-side4 {
  display: flex;
  flex-direction: column;
  background-color: #ffff;
  color: #1a1b1b;
  font-size: 10px;
  text-align: left;
  padding: 10px;
}

.side4-main {
  display: flex;
  line-height: 2;
}

.side4-main li {
  list-style: none;
}

.side4-col {
  /* width: 50%; */
  margin-left: 0px;
}

.side4-help {
  width: 50%;
}

.side4-footer {
  width: 100%;
  margin-top: 20px;
}
